<head>
    {% assign url = page.url | replace:'/','' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="description">
    <title>Moon Shell</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="/MoonShell/css/styles.css">
    <script type="text/javascript" src="/MoonShell/js/libraries/jquery-2.2.1.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/autogrow.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/lodash.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/materialize.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/parsley.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/prism.min.js"></script>
    <script type="text/javascript" src="/MoonShell/js/libraries/nagging-menu.js"></script>
</head>


