.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/main-image.jpg");
  background-size: cover;

  .greeting{
    padding-top: 32vh;
    max-width: 1200px;
    margin:0 auto;
    text-align: center;
    color: white;

    h1 { font-size: 50px; }
    p { font-size: 17px; }
  }
}