.main{
  .post{
    margin: auto;
    width: 70%;
    max-width: 1200px;
    padding: 30px 10px;
    text-align: justify;

    .main-post-img{
      width: 100%;
    }
  }
  .main-text{
    font-size: 24px;
    font-weight: 400;
  }


}